<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ExpenseManager| LEADING PERSONAL BUDGET CONTROLLER</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
          <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body class="container">
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h5 class="center-align">{{ request.user.first_name }}  Welcome to Your DashBoard</h5>
            <!--First Row-->
            <div class="row">
                <div class="col s12 m4">
                    <div class="card center-align">
                        <div class="card-content">
                            <span class="material-icons" style="font-size: 50px;color: blueviolet">
                                account_balance
                            </span>
                            {% if running_balance < 0 %}
                                <h5 class="red-text">Ksh.{{ running_balance }}</h5>
                                {% else %}
                                <h5 class="green-text">Ksh.{{ running_balance }}</h5>
                            {% endif %}

                            <p>Current Balance</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card center-align">
                        <div class="card-content">
                            <span class="material-icons" style="font-size: 50px;color: blueviolet">
                                paid
                            </span>
                            <h5>Ksh.{{ revenue }}</h5>
                            <p>Total Income</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card center-align">
                        <div class="card-content">
                            <span class="material-icons" style="font-size: 50px;color: blueviolet">
                                shopping_cart
                            </span>
                            <h5>Ksh.{{ expense }}</h5>
                            <p>Total Expenditure</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <a href="{% url 'accounts:expenditure' %}">
                    <div class="card">
                        <div class="card-image">
          <img src="{% static 'images/expense.jpeg' %}">
        </div>
                        <div class="card-content">
                            <p>EXPENDITURE</p>
                        </div>
                    </div>
                        </a>

                </div>

                 <div class="col s12 m6">
                    <a href="{% url 'accounts:revenue' %}">
                    <div class="card">
                        <div class="card-image">
          <img src="{% static 'images/income.jpeg' %}" >
        </div>
                        <div class="card-content">
                            <p>REVENUE</p>
                        </div>
                    </div>
                        </a>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
<!-- Compiled and minified JQUERY -->
<script  src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
    $('select').formSelect();

    //Date Picker Input Filed
        $('.datepicker').datepicker();
  });
</script>
</body>
</html>