{% extends 'accounts/index.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <p class="center-align"><a class="btn em-btn" href="{% url 'accounts:revenue' %}"><i class="material-icons left">skip_previous</i> GO BACK</a> </p>
            <h3 class="center-align">New Revenue</h3>
                  <div class="col s12 m8 offset-m2">
                    <div class="card">
                        <div class="card-content">
                            <form method="post" action="">
                                {% csrf_token %}
                                 {% for message in messages %}
                        {% if message.tags == 'success' %}
                             <span class="green-text center-align">
                                      {{ message }}
                             </span>

                            {% else %}
                             <span class="red-text center-align">
                                 <!--Here Goes the Messages-->

                                {{ message}}
                              </span>

                        {% endif %}


                    {% endfor %}
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <input type="text" placeholder="Developed a Website" class="validate" required name="service" id="id_title">
                                        <label for="id_title">Service Offered</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <input type="text" placeholder="Name of the service receiver e.g Cornelius Kipkorir" class="validate" required name="payer_name" id="id_rname">
                                        <label for="id_rname">PAYER NAME</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <input type="text" placeholder="Phone number of the service receiver" class="validate" required name="payer_phone" id="id_rphone">
                                        <label for="id_rphone">PAYER PHONE</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <input type="number" placeholder="Amount Spent (5000)" class="validate" required name="amount" id="id_eamount">
                                        <label for="id_eamount">Amount</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m12">

                                        <select name="payment_method">
                                          <option value="" disabled selected>CHOOSE PAYMENT METHOD</option>
                                          <option value="mpesa">MPESA</option>
                                          <option value="cash">CASH</option>
                                          <option value="bank">BANK</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m8 offset-m2">
                                        <button type="submit" class="em-btn btn"><i class="material-icons left">paid</i> Record Revenue</button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


{% endblock %}
