{% extends 'accounts/index.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <h3 class="center-align">ALL MY REVENUE SUMMARY</h3>
          <p class="center-align"><a class="btn em-btn" href="{% url 'accounts:user_dashboard' %}"><i class="material-icons left">home</i>Home </a> </p>
            <p class="center-align"><a href="{% url 'accounts:new_revenue' %}" class="btn em-btn">New Revenue</a> </p>
            <div class="row">
                <div class="col s12 m12">
                    <table>
        <thead>
          <tr>
              <th>#</th>
              <th>Service Offered</th>

              <th>Payer Phone</th>
              <th>Payer Name</th>
              <th>Service Amount</th>
              <th>Date Recorded</th>
          </tr>
        </thead>

        <tbody>
        {% for rev in revenue %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ rev.service_offered }}</td>
          <td>{{ rev.payer_contact }}</td>
          <td>{{ rev.payer_name }}</td>
          <td>{{ rev.amount_received }}</td>
          <td>{{ rev.date_recorded |date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
                <p class="center-align" style="color: blueviolet">Total Events:<b>{{ total_events }}</b> Total Revenue: <b>Ksh.{{ total_revenue.amount_received__sum }}</b></p>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
